@model ICollection<Dental_CLinic.BLL.ViewModels.ReservationVM>
@{
    ViewData["Title"] = "Index";
}

@section DataTableCss {
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/datatables.bootstrap.min.css" rel="stylesheet" />

}
    <div class="col-md-3 mb-5">
        <a class="w-100" asp-controller="Reservation" asp-action="Add"><button class="btn btn-primary w-100">Add</button></a>
    </div>



@*<table class="table">

    <tbody>


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"># ID</th>
                  
                    <th scope="col">Price</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Client Name </th>
                    <th scope="col">Client Address </th>
                 
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        
                        <td>@item.Price</td>
                       
                        <td>@item.ReservationDate</td>
                        <td>@item.ClientId</td>
                        <td>@item.Client.Name</td>
                        <td>@item.Client.Address</td>
                        <td>  <a asp-route-Id="@item.Id" asp-controller="Client" asp-action="Edit"> <button class="btn btn-info">Update</button> </a></td>
                        <td> <a asp-route-Id="@item.Id"> <button class="btn btn-danger">Delte</button> </a></td>
                    </tr>
                }


            </tbody>
        </table>



    </tbody>
</table>*@

    @*<div class="container">
        <h3 class="text-primary">Customers</h3>
        <hr />

        <table id="Customers" class="table table-striped table-bordered shadow p-3 mb-5  rounded dt-responsive nowrap">
            <thead>
                <tr>
                    <th scope="col">ID</th>

                    <th scope="col">Price</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Client Name </th>
                    <th scope="col">Client Address </th>
                    <th scope="col">Client Phone </th>


                    
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>

                    <td>@item.Price</td>

                    <td>@item.ReservationDate</td>
                    <td>@item.ClientId</td>
                    <td>@item.Client.Name</td>
                    <td>@item.Client.Address</td>
                    <td>@item.Client.Phone</td>
                    <td>  <a asp-route-Id="@item.Id" asp-controller="Client" asp-action="Edit"> <button class="btn btn-info">Update</button> </a></td>
                    <td> <a asp-route-Id="@item.Id"> <button class="btn btn-danger">Delte</button> </a></td>
                </tr>
            }


        </tbody>
        </table>
    </div>*@

    

        <table id="" class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>

                    <th scope="col">Price</th>
                    <th scope="col">Reservation Date</th>
                    <th scope="col">Client Id</th>
                    <th scope="col">Client Name </th>
                    <th scope="col">Client Address </th>
                    <th scope="col">Client Phone </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>

                    <td>@item.Price</td>

                    <td>@item.ReservationDate</td>
                    <td>@item.ClientId</td>
                    <td>@item.Client.Name</td>
                    <td>@item.Client.Address</td>
                    <td>@item.Client.Phone</td>
                    @*  <td>  <a asp-route-Id="@item.Id" asp-controller="Client" asp-action="Edit"> <button class="btn btn-info">Update</button> </a></td>
                <td> <a asp-route-Id="@item.Id"> <button class="btn btn-danger">Delte</button> </a></td>*@
                </tr>
            }
        </tbody>
    </table>

  
   

@section DataTableJS

{
    <script src="~/plugins/jquery-datatable/jquery.datatables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/datatables.bootstrap.min.js"></script>
    <script src="~/js/customerdatatable.js"></script>
}


   
  


