
@model   IEnumerable<Dental_CLinic.BLL.ViewModels.ClientVM>;
@{
    ViewData["Title"] = "CLient Page";
}

<div class="col-md-3">
<a class="w-100" asp-controller="Client" asp-action="Add"><button class="btn btn-primary w-100">@SharedLocallizer["Add"]</button></a>
</div>

<table class="table">
    
    <tbody>
       
        
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col"># ID</th>
                    <th scope="col">@SharedLocallizer["Name"]</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Addres</th>
                    <th scope="col">Country Name</th>
                    <th scope="col">City Name</th>
                    <th scope="col">Region Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                        <td>@item.Region.City.Country.Name</td>
                        <td>@item.Region.City.Name</td>
                        <td>@item.Region.Name</td>
                        <td>  <a asp-route-Id="@item.Id" asp-controller="Client" asp-action="Edit"> <button class="btn btn-info">Update</button> </a></td>
                             <td> <a asp-route-Id="@item.Id"> <button class="btn btn-danger">Delte</button> </a></td>
                        </tr>
                    }
                   
                    
                </tbody>
            </table>
        
       
      
    </tbody>
</table>
